/* BODY */
body{
    font-family: 'Montserrat', sans-serif;
    color: #282727;
}

body p{
    font-size: 1.5rem;
}

/* NAVBAR */
nav{
    background-color: rgb(7, 42, 25);
    font-size: 1.5rem;
}

nav a{
    color: #f8f9fa !important;
}

nav .navbar-toggler{
    background-color: #f8f9fa;
}

/* ****Per effetto sottolineatura al passaggio del mouse su uno dei link navbar e per tenere gruppo link a dx (solo >992px)*** */

@media (min-width:992px) {
    .collapse.navbar-collapse{
        display: flex;
        justify-content: end;
    }

    .navbar-nav a {
        position: relative;
        
        }
        
        .navbar-nav a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #f8f9fa;
        transition: width 0.3s;
        }
        
        .navbar-nav a:hover::after {
        width: 100%;
        }
}

/* **************************************************************************************************************************** */

/* CAROSELLO */
.margin-top-carosello{
    margin-top: 4rem;
}

.carousel-item{
    height: 30rem;
    position: relative;
}

.carousel-item img{
    height: 100%;
    min-width: 100%;

    object-fit: cover;
}

#myCarousel{
    position: relative;
}

/* overlay nero leggero sulle immagini del carosello */
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}


/* SEZIONE ICONE CARATTERISTICHE PRINCIPALI */
#icons-features img{
    width: 10rem;
}

/* SEZIONE CONTENUTI PRINCIPALI */
.margin-content{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* STILE PER IL COUNTDOWN */
#contenitore-contatore {
    line-height: 1;

    display: flex;
    justify-content: center;  
}

.panel {
    background-color: #8f0070;
    padding: 16px 24px;
    border-radius: 8px;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.counter-block {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.counter-block:last-child {
    color: #F2AD41;
}

.counter-block-number {
    font-size: 48px;
}

.counter-block-label {
    font-size: 20px;
}

/* FOOTER */
#footer-box{
    height: 100%;
    background-color: rgb(7, 42, 25);
}

footer p{
    margin-bottom: 0;
}

